<footer id="footer-default" class="footer">
    <div class="container-fluid p-0 footer__banner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 footer__banner">
                    <div class="footer__banner-title">
                        <i class="far fa-calendar-check"></i>
                        <h2><%= __('phrases.footer.saveHour') %></h2>
                    </div>
                    <div>
                        <a href="/<%= globalLocals.getLocale %>/contacts#form-anchor"
                            class="button <%= globalLocals.url.controller === 'contacts' ? '' : 'fadeout-page' %>">
                            <%= __('buttons.footerButton') %>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer__bottom">
            <div class="col-xl-3 col-sm-6 footer__column">
                <div class="footer__nav">
                    <h3 class="footer__heading"><%= __('privacy') %></h3>
                    <ul>
                        <% globalLocals.footerPages.forEach((item) => { %>
                        <li>
                            <a href="/<%= globalLocals.getLocale %><%= item.url %>"
                                class="fadeout-page line-animation"><%= item.name[globalLocals.getLocale] %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 footer__column">
                <h3 class="footer__heading">Copyright ©</h3>
                <div>
                    <%- include ../copyright.ejs %>
                </div>
                <div class="site-author">
                    Development &amp; design by <a href="https://www.linkedin.com/in/radoslav-lazarov-02291215a/"
                        target="blank" class="line-animation">Radoslav Lazarov</a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 footer__column footer__socials">
                <h3 class="footer__heading"><%= __('followUs') %></h3>
                <div class="socials-wrapper">
                    <div class="socials-block">
                        <div class="socials-inner">
                            <%- include ../socials.ejs %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 footer__column footer__social-plugin">
                <div class="fb-page" data-href="https://www.facebook.com/DEJAVURUSE/" data-width="280"
                    data-show-facepile="false"></div>
            </div>
        </div>
    </div>
</footer>
<a href="https://m.me/449532792515169" class="fb-messenger" target="blank">
    <i class="fab fa-facebook-messenger"></i>
</a>
<div id="loading-screen">
    <svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
        <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#a071a0"
            transform="rotate(263.845 50 51)">
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51"
                keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
        </path>
    </svg>
</div>