<footer id="footer-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer-nav">
                <ul>
                    <li><a href="/"><%= translation.termsAndConditions %></a></li>
                    <li><a href="/"><%= translation.privacyPolicy %></a></li>
                    <li><a href="/"><%= translation.cookies %></a></li>
                </ul>
            </div>
            <div class="col-12 copyright">
                Copyright © 2010 <%= translation.DEJAVU %>. <%= translation.allRightsReserved %>.
            </div>
            <div class="col-12 development">
                Development &amp; design by <a href="https://www.linkedin.com/in/radoslav-lazarov-02291215a/" target="blank">Radoslav Lazarov</a>
            </div>
        </div>
    </div>
    <a href="https://m.me/449532792515169" class="fb-messenger" target="blank">
        <i class="fab fa-facebook-messenger"></i>
    </a>
</footer>
<div id="loading-screen">
    <img src="static/loading.svg" alt="">
</div>
