<footer id="footer-home">
    <div class="row m-0">
        <div class="col-12 p-0 footer-nav">
            <ul>
                <li><a href="/"><%= translation.termsAndConditions %></a></li>
                <li><a href="/"><%= translation.privacyPolicy %></a></li>
                <li><a href="/"><%= translation.cookies %></a></li>
            </ul>
        </div>
        <div class="col-12 p-0 copyright">
            Copyright © 2010 <%= translation.DEJAVU %>. <%= translation.allRightsReserved %>.
        </div>
        <div class="col-12 p-0 development">
            Development &amp; design by <a href="https://www.linkedin.com/in/radoslav-lazarov-02291215a/" target="blank">Radoslav Lazarov</a>
        </div>
    </div>
</footer>

<div id="loading-screen">
    <img src="static/loading.svg" alt="">
</div>