<!DOCTYPE html>
<html lang="<%= globalLocals.getLocale %>">

<head>
    <%- include ../headNotFound.ejs %>
</head>

<body>
    <%- include ../googleTagManager.ejs %>
    <main>
        <%- body -%>
    </main>
    <%- include ../scripts.ejs %>
</body>

</html>