<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../head.ejs %>
    </head>
    <body>
        <%- include ../../components/header/header-home.ejs %>
        <main>
            <%- body -%>
        </main>
        <%- include ../../components/footer/footer-home.ejs %>
        <%- include ../scripts.ejs %>
    </body>
</html>