<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../head.ejs %>
    </head>
    <body data-locale='<%= getLocale %>'>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MR5BPKP"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <%- include ../../components/header/header-default.ejs %>
        <main>
            <%- body -%>
        </main>
        <%- include ../../components/footer/footer-home.ejs %>
        <%- include ../scripts.ejs %>
    </body>
</html>