<!DOCTYPE html>
<html lang="<%= globalLocals.getLocale %>">

<head>
    <%- include ../head.ejs %>
</head>

<body data-locale='<%= globalLocals.getLocale %>'>
    <%- include ../googleTagManager.ejs %>
    <%- include ../cookiesConsent.ejs %>
    <%- include ../../components/header/headerDefault.ejs %>
    <main>
        <div id="page">
            <%- include ../../components/pageCoverFull.ejs %>
            <%- body -%>
        </div>
    </main>
    <%- include ../../components/footer/footerDefault.ejs %>
    <%- include ../scripts.ejs %>
</body>

</html>