<header id="header-home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 header-top"> 
                <div class="row m-0">
                    <div class="col-6 p-0">
                            <%- include ../socials.ejs %>
                    </div>
                    <div class="col-6 p-0">
                        <%- include ../lang.ejs %>
                    </div>
                </div>
            </div>
            <div class="col-12 header-bottom">
                <%- include ../socials.ejs %> 
                <%- include ../lang.ejs %>
                <nav role="main-nav">
                    <ul class="p-0">
                        <% navCategories.forEach(function(category) { %>
                            <li><a href="<%= category.url %>"><%= category.name[getLocale] %></a></li>
                        <% }); %>
                    </ul> 
                </nav>
                <div class="splash"></div>
            </div>
            <a href="/" class="logo">
                <img src="static/logo-white.png" alt="">
            </a>
            <div class="nav-button">
                <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
