<header id="header-home">
    <div class="row m-0">
        <!-- <div class="col-12 p-0"> 
            <div class="row m-0">
                <div class="col-6">
                    dsa
                </div>
                <div class="col-6 language">
                    <ul>
                        <li><a class="<%= (lang=="bg"?"active":"") %>" href="/lang/bg">bg</a></li>
                        <li><a class="<%= (lang=="en"?"active":"") %>" href="/lang/en">en</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="col-12 p-0"> 
            <nav role="main-nav">
                <ul>
                    <% navCategories.forEach(function(category) { %>
                        <li><a href="<%= category.url %>"><%= category.name[getLocale] %></a></li>
                    <% }); %>
                </ul>
            </nav>
             <div class="logo-wrapper">
                <div class="logo">
                    <a href="/"><img src="static/logo-white.png" alt=""></a>
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-4 col-sm-12 p-0">
            <div class="logo-wrapper">
                <a href="/"><img src="static/logo-white.png" alt=""></a>
            </div>
        </div>
        <div class="col-xl-4 col-sm-12 p-0">
            <ul>
                <li><a class="<%= (lang=="bg"?"active":"") %>" href="/lang/bg">bg</a></li>
                <li><a class="<%= (lang=="en"?"active":"") %>" href="/lang/en">en</a></li>
            </ul>
        </div> -->
    </div>

</header>
