<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= pageMeta.description ? pageMeta.description : '' %>">
<meta name="keywords" content="<%= pageMeta.keywords ? pageMeta.keywords : '' %>">
<meta name="theme-color" content="#755275">
<meta name="author" content="Radoslav Lazarov">

<meta property="og:url" content="<%= url.fullUrl %>" />
<meta property="og:type" content="website" />
<meta property="og:title"
    content="<%= pageMeta.title ? pageMeta.title : '' %> - <%= url.currentPage !== 'home' ? translation.DEJAVU : ''  %>" />
<meta property="og:description" content="<%= pageMeta.description ? pageMeta.description : '' %>" />
<meta property="og:image"
    content="<%= pageResources.imageCover ? url.protocol + '://' + url.host + pageResources.imageCover : url.protocol + '://' + url.host + '/static/logo-big.png' %>" />

<title><%= pageMeta.title ? pageMeta.title : '' %> - <%= url.currentPage !== 'home' ? translation.DEJAVU : ''  %>
</title>

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MR5BPKP');</script>
<!-- End Google Tag Manager -->

<!-- Facebook SDK -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '2455713731323634',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v4.0'
        });
    };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- End Facebook SDK -->

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />