<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= globalLocals.pageMeta ? globalLocals.pageMeta.description : '' %>">
<meta name="keywords" content="<%= globalLocals.pageMeta ? globalLocals.pageMeta.keywords : '' %>">
<meta name="theme-color" content="#755275">
<meta name="author" content="Radoslav Lazarov">

<meta property="og:site_name" content="<%= __('DEJAVU') %>" />
<meta property="og:url" content="<%= globalLocals.url.fullUrl %>" />
<meta property="og:type" content="website" />
<meta property="og:title"
    content="<%= globalLocals.pageMeta.title ? globalLocals.pageMeta.title : '' %> - <%= globalLocals.url.currentPage !== 'home' ? __('DEJAVU')  : ''  %>" />
<meta property="og:description" content="<%= globalLocals.pageMeta ? globalLocals.pageMeta.description : '' %>" />
<meta property="og:image"
    content="<%= globalLocals.pageResources.imageCover ? globalLocals.url.protocol + '://' + globalLocals.url.host + globalLocals.pageResources.imageCover : globalLocals.url.protocol + '://' + globalLocals.url.host + '/static/logo-big-purple.png' %>" />

<title><%= globalLocals.pageMeta ? globalLocals.pageMeta.title : '' %> -
    <%= globalLocals.url.currentPage !== 'home' ? __('DEJAVU') : ''  %>
</title>

<link rel="alternate" hreflang="bg"
    href="<%= globalLocals.url.protocol + '://' + globalLocals.url.host %>/bg/<%= globalLocals.url.shortPath %>" />
<link rel="alternate" hreflang="en"
    href="<%= globalLocals.url.protocol + '://' + globalLocals.url.host %>/en/<%= globalLocals.url.shortPath %>" />

<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MR5BPKP');</script>
<!-- End Google Tag Manager -->

<!-- Facebook SDK -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '2455713731323634',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v4.0',
        });
    };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- End Facebook SDK -->

<link rel="stylesheet" type="text/css" href="/static/css/style.css" />