<% layout('common/layout/default') -%>
<%  const days = pageResources.content.workingTime.days; %>
<div class="container-fluid p-0" id="contacts-wrapper">
    <div class="row no-gutters justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="col-4">
                    <i class="fas fa-envelope-open"></i>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="col-4 working-time" data-weekly="">
                <div class="open"><%= translation.open %></div>
                <div class="closed"><%= translation.closed %></div>
                <%  days.forEach(function(item) { %>
                        <div class="day" data-day-index="<%= item.index %>">
                            <span><%= item.day[getLocale] %></span>
                            <span class="hour"><%= item.hours[getLocale] %></span>
                        </div>
                <% }); %>     
            </div>
        </div>
        <div class="col-12">
            <div id="map"></div>
        </div>
    </div>
</div>
