<% layout('common/layout/default') -%>

<div class="container">
    <div class="row page-description">
        <div class="col-12 d-flex justify-content-center">
            <div class="separator" style="background-image:url('/static/images/graphics/separator-purple.png')"></div>
        </div>
        <div class="col-12 heading">
            <h1><%= translation.checkOutOurDecorations %></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <% getGalleryCategories.forEach(function(category) { %>
            <div class="col-xl-3 col-lg-4 col-sm-6 category-wrapper" data-aos="fade-up" data-aos-once="true" data-aos-duration="800">
                <a href="gallery/<%= category.id %>" class="category">
                    <div class="title">
                        <h1><%= category.name[getLocale] %></h1>
                    </div>
                    <div class="image" style="background-image:url('<%= category.imageCover %>')"></div>
                    <div class="overlay">
                        <span class="line"></span>
                        <div class="summary"><%= category.summary[getLocale] %></div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="arrow_icon" x="0px" y="0px" viewBox="0 0 45.9 20.9" enable-background="new 0 0 45.9 20.9" xml:space="preserve" class="svg replaced-svg">
                            <g><path fill="#FFFFFF" d="M35.7,0.3c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4L41.5,9H1c-0.6,0-1,0.4-1,1c0,0.6,0.4,1,1,1h40.5   l-7.2,7.3c-0.4,0.4-0.4,1,0,1.4c0.4,0.4,1,0.4,1.4,0l8.9-9c0.4-0.4,0.4-1,0-1.4L35.7,0.3z"></path></g>
                        </svg>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
    <div class="row justify-content-center">
        <a href="/" class="button">
            <%= translation.viewOurServices %>
            <span></span>
        </a>
    </div>
</div>
