<% layout('common/layout/home') -%>

<% 
    var backgroundVideo;
    var pageSummary;
    globalLocals.pageResources.content.backgroundVideos.forEach(function(video) {
        if (video.isVisible) {
            backgroundVideo = video;
        }
    });
    globalLocals.pageResources.content.summary.forEach(function(summary) {
        if (summary.isVisible) {
            pageSummary = summary;
        }
    });
%>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="home-background">
                <div class="home-background__overlay"></div>
                <video loop autoplay muted playsinline
                    poster="<%= backgroundVideo.poster ? backgroundVideo.poster : '' %>" class="background-video">
                    <% backgroundVideo.source.forEach(function(source) { %>
                    <source src="<%= source.src %>" type="<%= source.type %>">
                    <% }); %>
                    <%= __('messages.videoTagSupport') %>
                </video>
            </div>
        </div>
        <div class="col-12 home-content" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"
            data-aos-delay="1500">
            <div class="summary">
                <span class="summary__title">
                    <%= pageSummary[globalLocals.getLocale].title %>.
                </span>
                <span class="summary__text">
                    <%= pageSummary[globalLocals.getLocale].text %>
                </span>
            </div>
        </div>
    </div>
    <div class="mute-toggle">
        <i class="fas fa-volume-mute"></i>
        <i class="fas fa-volume-off"></i>
    </div>
</div>