<% layout('common/layout/home') -%>

<% 
    var backgroundVideo;
    var pageSummary;
    globalLocals.pageResources.content.backgroundVideos.forEach(function(video) {
        if (video.isVisible) {
            backgroundVideo = video;
        }
    });
    globalLocals.pageResources.content.summary.forEach(function(summary) {
        if (summary.isVisible) {
            pageSummary = summary;
        }
    });
%>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="home-background">
                <div class="home-background__overlay"></div>
                <video loop autoplay muted playsinline
                    poster="<%= backgroundVideo.poster ? backgroundVideo.poster : '' %>" class="background-video">
                    <% backgroundVideo.source.forEach(function(source) { %>
                    <source src="<%= source.src %>" type="<%= source.type %>">
                    <% }); %>
                    Your browser doesn't support HTML5 video tag.
                </video>
            </div>
        </div>
        <div class="col-12 home-content">
            <div class="home-content--left">
                <div class="home-content__logo">
                    <a href="/" class="logo fadeout-page">
                        <img src="/static/logo-big.png" alt="DejaVu" class="logo--big">
                    </a>
                </div>
                <div class="home-content__summary">
                    <div class="summary">
                        <span class="summary__title">
                            <%= pageSummary[globalLocals.getLocale].title %>.
                        </span>
                        <span class="summary__text">
                            <%= pageSummary[globalLocals.getLocale].text %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="home-content--right">
                <div class="circle-animation">
                    <%- include ./components/lang.ejs %>
                </div>
                <div class="home-content__button">
                    <a href="/<%= globalLocals.getLocale %>/gallery" class="button fadeout-page">
                        <%= __('buttons.enter') %>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>