<% layout('common/layout/default') -%>

<div>news page</div>
<div><p><%= translation.hello %></p></div>


<% newsArticles.forEach(function(article) { %>
    <article>
        <h4><%= article.title[getLocale] %></h4>
        <span><%= article.date.getDate() %>.<%= article.date.getMonth() + 1 %>.<%= article.date.getFullYear() %></span>
        <% if (article.images.cover.link) { %>
            <div>
                <img src="<%= article.images.cover.link %>" alt="<%= article.images.cover.alt %>" width="300" height="300">
            </div>
        <% } %>
        <div><%- article.text[getLocale] %></div>
        <% article.images.images.forEach(function(image) { %>
            <% if (image.link) { %>
                <img src="<%= image.link %>" alt="<%= image.alt %>" width="200" height="200">
            <% } %>
        <% }); %>
    </article>
<% }); %>

