<div class="page-cover parallax-wrapper">
    <div class="page-cover__image onload parallax"
        style="background-image:url('<%= globalLocals.pageResources.imageCover ? globalLocals.pageResources.imageCover : '' %>')">
    </div>
    <div class="page-cover__overlay"></div>
    <div class="page-cover__title">
        <h1><%= globalLocals.pageResources.name[globalLocals.getLocale] %></h1>
    </div>
    <div class="container breadcrumbs">
        <div class="row">
            <% if (globalLocals.url.controller && globalLocals.url.subPage) { %>
            <div class="col-12 breadcrumbs__links">
                <a href="/<%= globalLocals.getLocale %>/<%= globalLocals.url.controller %>"
                    class="breadcrumbs__link fadeout-page"><%= globalLocals.controllerResources.name[globalLocals.getLocale] %></a>
                <a href="/<%= globalLocals.getLocale %>/<%= globalLocals.url.controller %>/<%= globalLocals.url.subPage %>"
                    class="breadcrumbs__link fadeout-page"><%= galleryCategory.name[globalLocals.getLocale] %></a>
                <% if (globalLocals.url.currentPage !== globalLocals.url.controller && globalLocals.url.currentPage !== globalLocals.url.subPage) { %>
                <a href="/<%= globalLocals.getLocale %>/<%= globalLocals.url.controller %>/<%= globalLocals.url.subPage %>/<%=globalLocals. url.currentPage %>"
                    class="breadcrumbs__link fadeout-page"><%= galleryAlbum.name[globalLocals.getLocale] %></a>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>