<% navCategories.headerSocials.forEach(function(social) { %>
<a href="<%= social.link %>" target="blank" data-color="<%= social.color %>">
    <i class="<%= social.icon %>" style="color:<%= social.color %>"></i>
    <div style="background:<%= social.color %>"></div>
</a>
<% }); %>